@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body,html
{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.container
{
  font-size: 30px;
  text-align: center;
  align-items: center;
  color: 222831;
}
.in
{
  align-items: center;
  border-radius: 5px;
  margin: 5px 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10px;

  display: flex;
  align-items: center;
  background-color: #f7f7e8;
  flex-direction: column;
}
/* .container p:hover{
  font-size: 32px;
  color: 393e46;
} */
.boxes
{
  margin-top: 70px;
  position: relative;

  margin-bottom: 10px;
}
.box1 , .box2 , .box3 , .box4
{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color:#1597bb;
  border: 3px solid #111;
  border-radius: 7px;
}

.box1
{
  left:170px;
  top: 80px;

}
.box3
{
  right:170px;
  top: 80px;
}
.box2
{
  left:340px;
  top: 400px;

}

.box4
{
  right: 340px;
  top: 400px;
}
.box1:hover , .box2:hover , .box3:hover , .box4:hover
{
  width: 210px;
  height: 210px;
  cursor: pointer;
  background-color:#007580;
}
.form-group
{
  border-radius: 5px;
  margin-bottom:12px;
  width: 350px;

}
